*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --aside-width: 500px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 64px;
  --color-dark: rgb(58, 58, 58);
  --color-light: #fff;
  --color-accent-primary: rgb(242, 191, 114);
  --color-footer: #0a1127;
  --checkmark-color: #396e25;
}

img {
  border-radius: 4px;
  max-width: 100%;
  height: auto;
}
img.inline-image{
  display: inline!important;
}
/*
* --------------------------------------------------
* Non anchor links
* --------------------------------------------------
*/
.color-accent-main{
  color: var(--color-accent-primary);
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.fw-600{
  font-weight: 600;
}
.mt-1{
  margin-top: 1rem!important;
}
.mt-2{
  margin-top: 2rem!important;
}
.mt-3{
  margin-top: 3rem!important;
}
.mb-1{
  margin-bottom: 1rem!important;
}
.mb-2{
  margin-bottom: 2rem!important;
}
.m-center{
  margin-left: auto;
  margin-right: auto;
}
.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.btn--primary{
  display: block;
  font-size: 1.05rem;
  font-weight: 700;
  padding: 1.25rem;
  text-align: center;
  max-width: 300px;
  width: 100%;
  border: 2px solid var(--color-accent-primary);
  outline: none!important;
  background: var(--color-accent-primary);
  transition: .2s all linear;
}
.btn--secondary{
  display: block;
  font-size: 1.05rem;
  font-weight: 700;
  padding: 1.25rem;
  text-align: center;
  max-width: 300px;
  width: 100%;
  border: 2px solid var(--color-dark);
  color: var(--color-dark);
  outline: none!important;
  transition: .2s all linear;
}
.btn--primary:hover{
  cursor: pointer;
  text-decoration: none;
  border: 2px solid rgb(208, 164, 98);
  background: rgb(208, 164, 98);
}
.btn--secondary:hover{
  cursor: pointer;
  text-decoration: none;
  color: var(--color-accent-primary);
  border: 2px solid var(--color-accent-primary);
}
.cartSummaryWrapper .btn--primary{
  max-width: 100%!important;
  background: #3ccf77!important;
  border-radius: 1000px;
}
.cartSummaryWrapper .btn--primary div{
  display: inline-block!important;
}
@media screen and (max-width: 749px){
  .btn--primary, .btn--secondary{
    max-width: 100%;
  }
}

/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
@media (max-width: 45em) {
  html:has(.overlay.expanded) {
    overflow: hidden;
  }
}
.flex-container{
    display: -webkit-flex;
    display: flex;
}
.flex-row{
    -webkit-flex-direction: row;
    flex-direction: row;
}
.flex-column{
    -webkit-flex-direction: column;
    flex-direction: column;
}
.flex-align-start{
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.flex-align-end{
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.flex-align-center{
    -webkit-align-items: center;
    align-items: center;
}
.flex-justify-start{
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.flex-justify-end{
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.flex-justify-center{
    -webkit-justify-content: center;
    justify-content: center;
}
.flex-justify-space-between{
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.flex-justify-space-around{
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.g-10p{
  gap: 10px;
}
.g-50p{
  gap: 50px;
}
@media screen and (max-width: 749px){
.small--flex-container{
    display: -webkit-flex;
    display: flex;
}
.small--flex-row{
    -webkit-flex-direction: row;
    flex-direction: row;
}
.small--flex-column{
    -webkit-flex-direction: column;
    flex-direction: column;
}
.small--flex-align-start{
    -webkit-align-items: flex-start;
    align-items: flex-start;
}
.small--flex-align-end{
    -webkit-align-items: flex-end;
    align-items: flex-end;
}
.small--flex-align-center{
    -webkit-align-items: center;
    align-items: center;
}
.small--flex-justify-start{
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.small--flex-justify-end{
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}
.small--flex-justify-center{
    -webkit-justify-content: center;
    justify-content: center;
}
.small--flex-justify-space-between{
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.small--flex-justify-space-around{
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
}
aside {
  background: var(--color-light);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  height: 100vh;
  width: min(var(--aside-width), 100vw);
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: 0;
  transition: transform 200ms ease-in-out;
}

aside header {
  align-items: center;
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 20px;
}

aside header h3 {
  margin: 0;
}

aside header .close {
  font-weight: bold;
  opacity: 0.6;
  text-decoration: none;
  transition: all 200ms;
  width: 40px;
  font-size: 1.7rem;
  font-weight: 400;
}

aside header .close:hover {
  text-decoration: none;
  opacity: 1;
}

aside header h2 {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

aside main {
  margin: 1rem;
}

aside p {
  margin: 0 0 0.25rem;
}

aside p:last-child {
  margin: 0;
}

aside li {
  margin-bottom: 0.125rem;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in-out;
  transition: opacity 400ms;
  visibility: hidden;
  z-index: 10;
}

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width));
}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.overlay.expanded {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
/* reveal aside */
.overlay.expanded aside {
  transform: translateX(calc(var(--aside-width) * -1));
}

button.reset {
  border: 0;
  background: inherit;
  font-size: inherit;
}

button.reset > * {
  margin: 0;
}

button.reset:not(:has(> *)) {
  height: 1.5rem;
  line-height: 1.5rem;
}

button.reset:hover:not(:has(> *)) {
  text-decoration: underline;
  cursor: pointer;
}

/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/
aside h3{
  font-size: 1.8rem;
}
.header {
  align-items: center;
  justify-content: space-between;
  background: #fff;
  display: flex;
  height: var(--header-height);
  padding: 2.5rem 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.header-ctas a.openCart{
  position: relative;
}
.header-ctas a.openCart svg{
  vertical-align: bottom;
}
.header-ctas a.openCart .cart-count{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 18px;
  width: 18px;
  font-size: .9em;
  top: -5px;
  right: -5px;
  background: var(--color-accent-primary);
  border-radius: 1000px;
}
.header-menu-mobile-toggle {
  @media (min-width: 48em) {
    display: none;
  }
}

.header-menu-mobile {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}

.header-menu-desktop {
  display: none;
  grid-gap: 1rem;
  @media (min-width: 45em) {
    display: flex;
    grid-gap: 1rem;
    margin-left: 3rem;
  }
}

.header-menu-item {
  cursor: pointer;
}

.header-ctas {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
}

.header-ctas > * {
  min-width: fit-content;
}

.Header-AnnouncementBanner{
  background: #000;
}
.Header-AnnouncementBanner a{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: .75rem;
  opacity: 1;
  color: var(--color-light);
  transition: .2s opacity linear;
}
.Header-AnnouncementBanner a p{
  color: var(--color-light);
}
.Header-AnnouncementBanner a:hover{
  text-decoration: none;
  opacity: .8;
}
.header-menu-desktop {
  display: flex;
  gap: 1.5rem;
}

.header-menu-mobile {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.header-menu-item-wrapper {
  position: relative;
}

.header-menu-item {
  text-decoration: none;
  padding: 0.5rem 0;
  display: inline-block;
}
.submenu-wrapper ul {
  position: absolute;
  left: 0;
  top: 100%;
  display: none;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  padding: 1rem;
  z-index: 50;
  min-width: 200px;
}

.header-menu-item-wrapper:hover .submenu-wrapper ul {
  display: block;
}
/*
* --------------------------------------------------
* components/Footer
* --------------------------------------------------
*/
.footer {
  background: var(--color-footer);
  margin-top: auto;
}

.footer-menu {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  grid-gap: 1rem;
  padding: 1rem;
}

.footer-menu a {
  color: var(--color-light);
  min-width: fit-content;
}

/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/
.cart-main {
  height: 100%;
  max-height: calc(100vh - var(--cart-aside-summary-height));
  overflow-y: auto;
  width: auto;
}

.cart-main.with-discount {
  max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}

.cart-line {
  display: flex;
  padding: 0.75rem 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.cart-line:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.cart-line img {
  height: 100%;
  display: block;
  margin-right: 0.75rem;
}

.cart-summary-page {
  position: relative;
}

.cart-summary-aside {
  background: rgb(255, 253, 249);
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  bottom: 0;
  padding-top: 0.75rem;
  padding: 10px;
  position: absolute;
  width: 100%;
  left: 0;
}
.cart-aside-subtotal {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 1.2rem;
}
.cart-line-quantity {
  display: flex;
  align-items: center;
}

.cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}

.cart-subtotal {
  align-items: center;
  display: flex;
}
.cart-line-quantity button:not([type="submit"]){
  border-radius: 1000px;
  border: 1px solid var(--color-dark);
  width: 20px;
  height: 20px;
}
.cart-line-quantity button[type="submit"]{
  border-radius: 1000px;
  border: 1px solid var(--color-dark);
  height: 20px;
  width: fit-content;
  padding:0 .5rem;
}
.cart-line-quantity button:hover{
  cursor: pointer;
}
/*
* --------------------------------------------------
* components/Search
* --------------------------------------------------
*/
.predictive-search {
  height: calc(100vh - var(--header-height) - 40px);
  overflow-y: auto;
}

.predictive-search-form {
  background: var(--color-light);
  position: sticky;
  top: 0;
}

.predictive-search-result {
  margin-bottom: 2rem;
}

.predictive-search-result h5 {
  text-transform: uppercase;
}

.predictive-search-result-item {
  margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
  align-items: center;
  display: flex;
}

.predictive-search-result-item a img {
  margin-right: 0.75rem;
  height: 100%;
}

.search-result {
  margin-bottom: 1.5rem;
}

.search-results-item {
  margin-bottom: 0.5rem;
}

.search-results-item a {
  display: flex;
  flex: row;
  align-items: center;
  gap: 1rem;
}

/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/
.featured-collection {
  display: block;
  margin-bottom: 2rem;
  position: relative;
}

.featured-collection-image {
  aspect-ratio: 1 / 1;
  @media (min-width: 45em) {
    aspect-ratio: 16 / 9;
  }
}

.featured-collection img {
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.recommended-products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  @media (min-width: 45em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.recommended-product img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections._index.tsx
* --------------------------------------------------
*/
.collections-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.collection-item img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections.$handle.tsx
* --------------------------------------------------
*/
.collection-description {
  margin-bottom: 1rem;
  max-width: 95%;
  @media (min-width: 45em) {
    max-width: 600px;
  }
}

.products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.product-item img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/
.product {
  display: grid;
  @media (min-width: 45em) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }
}

.product h1 {
  margin-top: 0;
}

.product-image img {
  height: auto;
  width: 100%;
}

.product-main {
  align-self: start;
  position: sticky;
  top: 6rem;
}

.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem;
}

.product-price-on-sale s {
  opacity: 0.5;
}

.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.75rem;
}

.product-options-item,
.product-options-item:disabled {
  padding: 0.25rem 0.5rem;
  background-color: transparent;
  font-size: 1rem;
  font-family: inherit;
}

.product-option-label-swatch {
  width: 1.25rem;
  height: 1.25rem;
  margin: 0.25rem 0;
}

.product-option-label-swatch img {
  width: 100%;
}

/*
* --------------------------------------------------
* routes/blog._index.tsx
* --------------------------------------------------
*/
.blog-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.blog-article-image {
  aspect-ratio: 3/2;
  display: block;
}

.blog-article-image img {
  height: 100%;
}

/*
* --------------------------------------------------
* routes/blog.$articlehandle.tsx
* --------------------------------------------------
*/
.article img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/account
* --------------------------------------------------
*/

.account-logout {
  display: inline-block;
}

.NavLink-logo{
  max-width: 150px;
  height: auto;
  width: 100%;
}

.herobanner-seperator div.text-content, .herobanner-seperator div.featured-image{
  flex: 1 1 50%;
}
.herobanner-seperator div.featured-image img{
  width: 100%;
}
.cellstudies-checkmark{
  color: var(--checkmark-color);
}
.ZellDiagramme{
  margin-top: 10vh;
}
.YoutubeIframe {
  position: relative;
  width: 100%;
  max-width: 800px;
  aspect-ratio: 16 / 9; 
  margin: 50px auto;
}

.YoutubeIframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  border: none;
}
.LogoBar{
  width: 100%;
  max-height: 15vh;
  overflow: hidden;
  margin: 100px 0;
  padding: 2rem 0;
  background: url('https://cdn.shopify.com/s/files/1/0279/3095/1750/files/flyerbg_highres_cropped_1.webp?v=1681466840') no-repeat;
  background-size: cover;
}
.LogoBar .LogoBar-ImgWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.LogoBar .LogoBar-ImgWrapper img{
  height: 40px;
  width: auto!important;
  filter: brightness(0);
}
.InfoSlider{
  margin-top: 40px;
  overflow: hidden;
}
.InfoSlider{
  -webkit-touch-callout: none; 
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}
.InfoSlider:hover{
  cursor: grab;
}
.InfoSlider:active{
  cursor: grabbing;
}
.InfoSlider .InfoSliderTrack{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  transition: .3s all ease-out;
}
.InfoSlider .InfoSliderCard{
  width: 400px;
  max-width: 100%;
  min-height: 500px;
  position: relative;
  z-index: 0;
  color: var(--color-light);
  border-radius: 8px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
  transition: .3s width ease-out;
}
@media screen and (min-width: 433px){
  .InfoSlider .InfoSliderCard.SliderCardOpened{
    width: 800px;
  }
}
.InfoSlider .InfoSliderCard h3{
  color: var(--color-light);
}
.InfoSlider .InfoSliderCard .CardLabel{
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  padding: 5px 20px;
  border-radius: 1000px;
  height: 34px;
}
.InfoSlider .InfoSliderCard .CardLabel p{
  color: var(--color-light);
  font-size: .9em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}  
.InfoSlider .InfoSliderCard .CardTextWrapper{
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  max-width: calc(100% - 2rem);
  transition: .3s all ease-out;
  overflow: hidden;
  height: auto;
}
.InfoSlider .InfoSliderCard .CardTitle h3{
  font-size: 1.8rem;
}
.InfoSlider .InfoSliderCard.SliderCardOpened .CardTitle{
  bottom: 10rem;
}
.InfoSlider .InfoSliderCard .CardDescription{
  position: absolute;
  top: 100px;
  opacity: 0;
  transition: .3s all linear;
}
.InfoSlider .InfoSliderCard.SliderCardOpened .CardDescription{
  opacity: .8;
  position: static;
}
.InfoSlider .InfoSliderCard .CardCollapseButton{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 20px;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-dark);
  background: var(--color-light);
  border-radius: 1000px;
  padding: 5px;
  transition: .3s transform ease-out;  
}
.InfoSlider .InfoSliderCard.SliderCardOpened .CardCollapseButton{
  transform: rotate(45deg);
}
.InfoSlider .InfoSliderCard .CardCollapseButton:hover{
  cursor: pointer;
}
.InfoSlider .InfoSliderCard .CardOverlay{
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.ProgressWrapper{
  height: 5px;
  width: 100%;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 1000px;
  margin-top: 20px;
  overflow: hidden;
}
.ProgressWrapper .ProgressTracker{
  height: 100%;
  max-width: 100%!important;
  background: var(--color-dark);
  transition: .3s width ease-out;
}
.SliderButtonWrapper{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 10px;
}
.SliderButtonWrapper .ButtonPrev{
  transform: rotate(-90deg);
}
.SliderButtonWrapper .ButtonNext{
  transform: rotate(90deg);
}
.SliderButtonWrapper .SliderButton{
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-dark);
  color: var(--color-light);
  width: 35px;
  height: 35px;
  padding: 5px;
  border-radius: 1000px;
}
.SliderButtonWrapper .SliderButton:hover{
  cursor: pointer;
}
.ScrollMikroskopvideo{
  height: 500vh;
  position: relative;
  background:rgb(8, 9, 24);
  z-index: 10000;
  margin: 100px 0; 
}
.ScrollMikroskopvideo .VideoOverlay{
  position: sticky;
  top: 0;
  width: 100%;
  height: 100vh;
}
.ScrollMikroskopvideo video{
  width: auto!important;
  min-width: 100vw;
  height: 100vh;
  object-fit: cover;
  aspect-ratio: 16/9;
}
.ScrollMikroskopvideo .VideoOverlay .VideoProgressTrackerWrapper{
  width: 90%;
  max-width: 750px;
  height: 5px;
  background: rgba(255, 255, 255, 0.2);  
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}
.ScrollMikroskopvideo .VideoOverlay .VideoProgressTrackerWrapper .VideoProgressTracker{
  height: 100%;
  background: var(--color-light);
}
.ScrollMikroskopvideo .VideoOverlay .TextContent-Start{
  position: absolute;
  top: 50%;
  left: 50px;
  max-width: 500px;
  transform: translateY(-50%);
  transition: .3s opacity linear;
}
.ScrollMikroskopvideo .VideoOverlay .TextContent-Start h2{
  font-size: 2.5rem; 
}
.ScrollMikroskopvideo .VideoOverlay .TextContent-Start p{
  font-size: 1.5rem; 
}
.ScrollMikroskopvideo .VideoOverlay .TextContent-End{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 12px;
  transition: .3s opacity linear;
}
.ScrollMikroskopvideo .VideoOverlay .TextContent-End div:not(.content){
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  text-align: center;
}
.ScrollMikroskopvideo .VideoOverlay .TextContent-End div.content{
  padding: 20px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}
.ScrollMikroskopvideo .VideoOverlay .TextContent-End div h2, .ScrollMikroskopvideo .VideoOverlay .TextContent-End div p{
  color: var(--color-light);
  margin-bottom: 0
}
.ScrollMikroskopvideo .VideoOverlay .TextContent-End div p{
  font-size: .9em;
  margin-top: 10px;
  opacity: .8;
}
.Studien .FlexContainer .Row{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 10px;
}
.Studien .FlexContainer .Row .Column{
  flex: 1 0 50%;
}
.ReviewCount{
  display: inline-block;
}
@media screen and (max-width: 749px){
  .Studien .FlexContainer .Row{
    flex-direction: column;
    gap: 3rem;
  }
  .Studien .FlexContainer .Row .Column{
    flex: 1 0 100%;
  }
  .ScrollMikroskopvideo{
    height: 400vh;
  }
  .ScrollMikroskopvideo video{
    width: auto!important;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    object-fit: cover;
    aspect-ratio: auto
  }
  .ScrollMikroskopvideo .VideoOverlay .TextContent-End div:not(.content){
    justify-content: flex-start;
    padding: 50px 0;
  }
  .ScrollMikroskopvideo .VideoOverlay .TextContent-End > div:nth-child(2){
    justify-content: flex-end;
  }
  .ScrollMikroskopvideo .VideoOverlay .VideoProgressTrackerWrapper{
    width: 100%;
    bottom: 0;
  }
  .ScrollMikroskopvideo .VideoOverlay .TextContent-Start{
    top: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 100%;
    text-align: center;
  }
  .ScrollMikroskopvideo .VideoOverlay .TextContent-Start h2{
    font-size: 2rem;
  }
  .ScrollMikroskopvideo .VideoOverlay .TextContent-Start p{
    font-size: 1.25rem;
  }
}

.FeaturedProduct{
  width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 100px;
}
.FeaturedProduct h3{
  color: var(--color-accent-primary);
}
.FeaturedProduct .FeaturedProduct_Links{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
.FeaturedProduct .FeaturedProduct_Links a{
  font-size: 1.2rem;
  font-weight: 600;
}
.FeaturedProduct .FeaturedProduct_ImageWrapper{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: linear-gradient(180deg,#E9E6F7 0%,#F7F4FF 100%);
  margin-top: 50px;
  box-shadow: 0 13px 20px 0 rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0 13px 20px 0 rgb(0 0 0 / 8%);
  padding-top: 5vh;
}
.FeaturedProduct .FeaturedProduct_ImageWrapper img{
  flex: 1 1 50%;
  width: 50%;
  height: auto;
}